.close{color:#fff; opacity:1;}
.header{ z-index: 99;  position: relative;}
.bannerMenu ul {
    padding: 0;
    list-style: none;
	margin-bottom: 0;
	position: relative;
}

.addressbtn{
overflow: hidden;
max-width: 210px;
}

.logo-ht {
	height:60px;
}