
<div [style.display]="(actionType === 'all')?'block':'none'">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> News List
					<button class="btn btn-primary pull-right" (click)="redirectToAdd()">
						Add
					</button>
				</div>
				<div class="card-body">
					<mat-form-field>
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
					</mat-form-field>
					<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

						<ng-container matColumnDef="title">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
							<mat-cell color="red" *matCellDef="let element">
								<span class="badge badge-success" *ngIf="element.status==='Active'">Active</span>
								<span class="badge badge-danger" *ngIf="element.status==='Deactive'">Deactive</span>	
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="updated_at">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Updated date </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.updated_at | date: 'yyyy-MM-dd H:mm:ss'}} </mat-cell>
						</ng-container>					

						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<button mat-icon-button md-18 color="warn" (click)="redirectToEdit(element)" matTooltip="Edit" matTooltipPosition="above">
									<i class="material-icons">edit</i>
								</button>
								<button mat-icon-button md-18 color="warn" (click)="openConfirmationDialog(element._id)" matTooltip="Delete" matTooltipPosition="above">
									<i class="material-icons">delete</i>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

					</mat-table>

					<div *ngIf="displayNoRecords" class="norecords" >No records found</div>

					<mat-paginator
					[pageSizeOptions]="[10, 25, 50, 100]"
					showFirstLastButtons
					></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card" *ngIf="actionType==='edit'">
	<div class="card-header">
		<strong>
			<span *ngIf="pageType==='add'">Add</span>
			<span *ngIf="pageType==='edit'">Update</span> News 	
		</strong>
		<button class="btn btn-primary btn-sm pull-right" (click)="cancelToEdit('all')">
			Close
		</button>
	</div>
	<form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
		<div class="card-body">

			<div class="form-group row">
				<label class="col-md-3 col-form-label">Title</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required  />
					<div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
						<div *ngIf="title.errors.required">Title is required</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-3 col-form-label">Subject</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required  />		
					<div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
						<div *ngIf="description.errors.required">Description is required</div>
					</div>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-3 col-form-label">Content</label>
				<div class="col-md-9">		
					 <div *ngIf="contents.invalid && contents.touched" class="help-block text-danger">Content is required.</div>
				</div>
			</div>

			<div class="form-group row" *ngIf="pageType==='add'">
				<label class="col-md-3 col-form-label">Image</label>
				<div class="col-md-6">
					<input type="file" (change)="onFileChanged($event)" name="news_image" [(ngModel)]="model.news_image" #news_image="ngModel" [ngClass]="{ 'is-invalid': f.submitted && news_image.invalid }" accept=".jpeg,.jpg,.png">
					<div *ngIf="f.submitted && news_image.invalid" class="invalid-feedback">
					</div>
				</div>
			</div>

			<div class="form-group row" *ngIf="pageType==='edit'">
				<label class="col-md-3 col-form-label">Image</label>
				<div class="col-md-6">
					<input type="file" (change)="onFileChanged($event)" name="news_image" [(ngModel)]="model.news_image" #news_image="ngModel" [ngClass]="{ 'is-invalid': f.submitted && news_image.invalid }" accept=".jpeg,.jpg,.png">
					<div *ngIf="f.submitted && news_image.invalid" class="invalid-feedback">
						<div *ngIf="news_image.errors.required">News image is required</div>
					</div>
				</div>
			</div>

			<div class="form-group row" *ngIf="newsUrl!=''">
				<label for="example-text-input" class="col-3 col-form-label"></label>
				<div class="upload_det col-md-6">
					<img src="{{newsUrl}}" class="img-fluid" style="height: 150px; width: 150px">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-3 col-form-label">Status</label>
				<div class="col-md-6">
					<select name="status" [(ngModel)]="model.status" #status="ngModel" class="form-control">
						<option [ngValue]=1>Active</option>
						<option [ngValue]=0>Deactive</option>
						
					</select>
				</div>
			</div>

		</div>
		<div class="card-footer">
			<div *ngIf="postRequest==''">
				<button class="btn btn-sm btn-primary" [disabled]="!f.form.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
				<button type="button" class="btn btn-sm btn-danger" (click)="cancelToEdit()"><i class="fa fa-ban"></i> Cancel</button>
			</div>
			<div *ngIf="postRequest=='yes'">
				<button class="btn btn-sm btn-primary" disabled> <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
				Loading...</button>
			</div>
		</div>
	</form>
</div>
