<div class="app-body">
  <notifier-container></notifier-container>
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #f="ngForm" autocomplete="off" novalidate >
                  <h1>Reset Password</h1>
                  <p class="text-muted">New password</p>
                  <div class="input-group mb-3">
                   <input type="password" placeholder="New password" class="pwd-box" name= "password" #password= "ngModel" (ngModelChange)="typePwd($event)" [class.is-invalid]= "password.invalid && password.touched" (input)="cp.control.updateValueAndValidity()" ngModel required>
                  <div *ngIf="password.errors && (password.valid || password.touched || f.submitted)" class="errMsg">
                    <span *ngIf="password.errors.required">Enter Password</span>
                  </div>
                  <div *ngIf="((!lower||!upper||!len||!num||!spec) && password.valid)" class="errMsg">
                    <span *ngIf="!lower">Enter atleast one lowercase</span>
                    <span *ngIf="!upper">Enter atleast one uppercase</span>
                    <span *ngIf="!len">Enter atleast 8 characters</span>
                    <span *ngIf="!num">Enter atleast one number</span>
                    <span *ngIf="!spec">Enter atleast one special character</span>
                  </div>
                  </div>
                  <p class="text-muted">Confirm New password</p>
                  <div class="input-group mb-3">
                   <input type="password" placeholder="Confirm password" class="pwd-box" name="confirm_password" #cp="ngModel" [class.is-invalid]="(cp.invalid || password.value != cp.value) && cp.touched" appConfirmEqualValidator="password" ngModel required>
                  <div *ngIf="cp.errors && (cp.valid || cp.touched || f.submitted)" class="errMsg">
                    <span *ngIf="cp.errors.required">Enter Confirm Password</span>
                    <span *ngIf="cp.errors.notEqual && !cp.errors.required">Password does not match</span>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-6">                      
                  <button class="btn btn-primary px-4" [disabled]="f.invalid||!lower||!upper||!len||!num||!spec" (click)="submitFunc(f)" *ngIf="!resetLoader">Update</button>
                  <button class="btn btn-primary px-4" disabled *ngIf="resetLoader"><i class="spinner-grow spinner-grow-sm"></i></button>
                </div>
                </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>