<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Contact Us List
				</div>
				<div class="card-body">
					<mat-form-field>
						<input matInput placeholder="Search" #input>
					</mat-form-field>
					<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Name </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="emailid">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.emailid}} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="subject">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="created_at">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.created_at | date: 'yyyy-MM-dd H:mm:ss'}} </mat-cell>
						</ng-container>

						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
							<mat-cell color="red" *matCellDef="let element">
								<span class="badge badge-success" *ngIf="element.status===0">New</span>
								<span class="badge badge-danger" *ngIf="element.status===1">Replied</span>	
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
							<mat-cell *matCellDef="let element">
								<button mat-icon-button md-18 color="warn" [routerLink]="['/yDKXkjbhUFZYGEUdINOs/pages/view-contact']" [queryParams]="{token: element._id}" matTooltip="Edit" matTooltipPosition="above">
									<i class="material-icons">visibility</i>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

					</mat-table>

					<div *ngIf="displayNoRecords" class="norecords">No records found</div>

					<mat-paginator [length]="contactCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
				</div>
			</div>
		</div>
	</div>

