<footer class="footer homeFooter">
			<div class="container">
				<div class="footerLogo text-center">
					<a routerLink="/">
						<img src="assets/images/logo.png" alt="logo" />
					</a>
				</div>
				<div class="footerSocial">
					<ul class="d-flex flex-wrap align-items-center justify-content-center">
						<li>
							<a href="{{site.facebook}}" target="_blank">
								Facebook
							</a>
						</li>
						<li>
							<a href="{{site.twitter}}" target="_blank">
								Twitter
							</a>
						</li>
						<li>
							<a href="{{site.telegram}}" target="_blank">
								Telegram
							</a>
						</li>
						<li>
							<a href="{{site.linkedin}}" target="_blank">
								Bitcoin Talk
							</a>
						</li>

						<li>
							<a href="{{site.reddit}}" target="_blank">
								Reddit
							</a>
						</li>

						<li>
							<a href="{{site.medium}}" target="_blank">
								Medium
							</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="copyRight">
			<div class="container">
				<p>{{site.copyright}}</p>
			</div>
		</div>	
		</footer>
