<app-header></app-header>
<div class="main_content">
	<div class="banner">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-12">
						<div class="bannerContent">
						
							<div class="bannerLabel">								
							</div>
							
							<h1> 
								<span class="color-gradient"> Decentralized Money Market Protocol </span>
							</h1>
							
							<p>
								Be sure to read docs.1 pool.finance before using the pools<br/>
								so you are familiar with protocol risks and fees.!
							</p>
							
							<div class="bannerMenu">
								<ul class="d-flex flex-wrap align-items-center justify-content-center">
									<li class="">
										<a routerLink="/stake" class="btn btn-primary btnMd">
											Stake
										</a>
									</li>
									<li class="">
										<a routerLink="/farm" class="btn btn-primary btnMd">
											Farm
										</a>
									</li>
									<li>
										<a routerLink="/transit" class="btn btn-primary btnMd">
											Token bridge
										</a>
									</li>
									<li class="">
										<a routerLink="/" class="btn btn-primary btnMd">
											Home
										</a>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<app-footer></app-footer>